extends layout

block content

  // Responsive navbar
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .container
      a.navbar-brand(href='#!') Redbicicletas
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.ms-auto.mb-2.mb-lg-0
          li.nav-item
            //- a.nav-link(href='#') Home
          //-li.nav-item
            //-a.nav-link(href='#!') About
          //-li.nav-item
            a.nav-link(href='#!') Contact
          li.nav-item
            a.nav-link(href='/bicicletas') Bicicletas 
          li.nav-item
            a.nav-link.active(aria-current='page' href='#') Blog
  // Page header with logo and tagline
  header.py-5.bg-light.border-bottom.mb-4
    .container
      .text-center.my-5
        h1.fw-bolder RedBicicletas Home!
        p.lead.mb-0 Bicicletas ? RedBicicletas
  // Page content
  .container
    .row
      // Blog entries
      .col-lg-8
        // Featured blog post
        .card.mb-4
          a(href='#!')
            img.card-img-top(src='https://images.unsplash.com/photo-1494488802316-82250d81cfcc?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2ljbGlzdGF8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80' alt='...')
          .card-body
            .small.text-muted January 1, 2021
            h2.card-title Featured Post Title
            p.card-text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!
            a.btn.btn-primary(href='#!') Read more &rarr;
        // Nested row for non-featured blog posts
        .container 
            #main_map
            
        .row
          .col-lg-6
            // Blog post
            .card.mb-4
              a(href='#!')
                img.card-img-top(src='https://dummyimage.com/700x350/dee2e6/6c757d.jpg' alt='...')
              .card-body
                .small.text-muted January 1, 2021
                h2.card-title.h4 Post Title
                p.card-text
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.
                a.btn.btn-primary(href='#!') Read more &rarr;
            // Blog post
            .card.mb-4
              a(href='#!')
                img.card-img-top(src='https://dummyimage.com/700x350/dee2e6/6c757d.jpg' alt='...')
              .card-body
                .small.text-muted January 1, 2021
                h2.card-title.h4 Post Title
                p.card-text
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.
                a.btn.btn-primary(href='#!') Read more &rarr;
          .col-lg-6
            // Blog post
            .card.mb-4
              a(href='#!')
                img.card-img-top(src='https://dummyimage.com/700x350/dee2e6/6c757d.jpg' alt='...')
              .card-body
                .small.text-muted January 1, 2021
                h2.card-title.h4 Post Title
                p.card-text
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.
                a.btn.btn-primary(href='#!') Read more &rarr;
            // Blog post
            .card.mb-4
              a(href='#!')
                img.card-img-top(src='https://dummyimage.com/700x350/dee2e6/6c757d.jpg' alt='...')
              .card-body
                .small.text-muted January 1, 2021
                h2.card-title.h4 Post Title
                p.card-text
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam.
                a.btn.btn-primary(href='#!') Read more &rarr;
        // Pagination
        nav(aria-label='Pagination')
          hr.my-0
          ul.pagination.justify-content-center.my-4
            li.page-item.disabled
              a.page-link(href='#' tabindex='-1' aria-disabled='true') Newer
            li.page-item.active(aria-current='page')
              a.page-link(href='#!') 1
            li.page-item
              a.page-link(href='#!') 2
            li.page-item
              a.page-link(href='#!') 3
            //-   li.page-item.disabled
              a.page-link(href='#!') ...
              //-  li.page-item
              //-   a.page-link(href='#!') 15
            li.page-item
              a.page-link(href='#!') Older
      // Side widgets
      .col-lg-4
        // Search widget
        .card.mb-4
          .card-header Search
          .card-body
            .input-group
              input.form-control(type='text' placeholder='Enter search term...' aria-label='Enter search term...' aria-describedby='button-search')
              button#button-search.btn.btn-primary(type='button') Go!
        // Categories widget
        .card.mb-4
          .card-header Categories
          .card-body
            .row
              .col-sm-6
                ul.list-unstyled.mb-0
                  li
                    a(href='#!') Web Design
                  li
                    a(href='#!') HTML
                  li
                    a(href='#!') Freebies
              .col-sm-6
                ul.list-unstyled.mb-0
                  li
                    a(href='#!') JavaScript
                  li
                    a(href='#!') CSS
                  li
                    a(href='#!') Tutorials
        // Side widget
        .card.mb-4
          .card-header Side Widget
          .card-body
            | You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!
  // Footer
  footer.py-5.bg-dark
    .container
      p.m-0.text-center.text-white Copyright &copy; Your Website 2021
  // Bootstrap core JS
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js')
  // Core theme JS
  script(src='js/scripts.js')
  script(src='js/maps.js')
